src/datafactory/pipeline/pl_ingesta_gps.json
{
	"name": "pl_ingesta_gps",
	"properties": {
		"activities": [
			{
				"name": "Get MetadataEntregas",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ext_datos_entregas",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists",
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Get MetadataVehiculos",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Ext_datos_vehiculo",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists",
						"size"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "If ConditionFuenteEntregas",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get MetadataEntregas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get MetadataEntregas').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "FailMetadataEntregas",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "No llego el archivo de entregas el dia de hoy",
								"errorCode": "FILE_NOT_FOUND"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy datos Entregas",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ext_datos_entregas",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "carg_datos_entrega",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "FailCopyEntregas",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "Copy datos Entregas",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": "Error copiando archivo de entregas en el datalake",
								"errorCode": "COPY_ERROR"
							}
						}
					]
				}
			},
			{
				"name": "If ConditionFuenteVehiculos",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get MetadataVehiculos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get MetadataVehiculos').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "FailMetadatosVehiculo",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "No llegó el archivo de los vehiculos del día",
								"errorCode": "FILE_NOT_FOUND"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy datos Vehiculo",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "Ext_datos_vehiculo",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "Carg_datos_vehiculo",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "FailCopyVehiculo",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "Copy datos Vehiculo",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": "Error copiando el archivo de vehiculos en el datalake",
								"errorCode": "COPY_ERROR"
							}
						}
					]
				}
			},
			{
				"name": "Validation Vehiculos",
				"type": "Validation",
				"dependsOn": [
					{
						"activity": "If ConditionFuenteVehiculos",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "Carg_datos_vehiculo",
						"type": "DatasetReference"
					},
					"timeout": "0.12:00:00",
					"sleep": 10
				}
			},
			{
				"name": "Validation Entregas",
				"type": "Validation",
				"dependsOn": [
					{
						"activity": "If ConditionFuenteEntregas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "carg_datos_entrega",
						"type": "DatasetReference"
					},
					"timeout": "0.12:00:00",
					"sleep": 10
				}
			}
		],
		"folder": {
			"name": "GPS"
		},
		"annotations": []
	}
}