src/datafactory/pipeline/pl_ingesta_salesforce.json
{
	"name": "pl_ingesta_salesforce",
	"properties": {
		"activities": [
			{
				"name": "Get MetadataVisitas",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ext_datos_visitas",
						"type": "DatasetReference"
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "If ConditionFuenteVisitas",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get MetadataVisitas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get MetadataVisitas').output.exists",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "FailMetadataVentas",
							"type": "Fail",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"message": "No llegó el archivo de las ventas del día",
								"errorCode": "FILE_NOT_FOUND"
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "Copy datos visitas",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "BinarySource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "BinaryReadSettings"
									}
								},
								"sink": {
									"type": "BinarySink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "ext_datos_visitas",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "carg_datos_ventas",
									"type": "DatasetReference"
								}
							]
						},
						{
							"name": "FailCopyVentas",
							"type": "Fail",
							"dependsOn": [
								{
									"activity": "Copy datos visitas",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"message": "Error copiando el archivo de ventas en el datalake",
								"errorCode": "COPY_ERROR"
							}
						}
					]
				}
			},
			{
				"name": "Validation Ventas",
				"type": "Validation",
				"dependsOn": [
					{
						"activity": "If ConditionFuenteVisitas",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "carg_datos_ventas",
						"type": "DatasetReference"
					},
					"timeout": "0.12:00:00",
					"sleep": 10
				}
			}
		],
		"folder": {
			"name": "SALESFORCE"
		},
		"annotations": []
	}
}